$poster-width: 130px;
$poster-height: 195px;
$poster-width-desktop: 180px;
$poster-height-desktop: 270px;

.userMediaCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  flex-wrap: nowrap;
  margin: 0 10px;
  position: relative;
  background: rgba(245, 245, 245, 0.6) !important;

  .mediaInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: 160px;
    padding: 7px 5px 7px 10px;
  }
  .poster,
  .posterContainer {
    height: 220px;
    width: 133px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    text-align: center;
  }
  .mediaTitle {
    min-height: 40px;
    line-height: 1;
    overflow: auto;
    margin: 0 0 0 8px;
    font-size: 18px;
    font-weight: 600;
    color: darkslategray;
  }
  .releaseYear {
    font-style: normal;
    font-weight: 500;
  }
  //.imdbRating {
  //  color: rgb(73, 99, 90);
  //}
  .imdbRatingValue {
    margin-left: 8px;
  }
  .imdbLink  {
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
  }
  .plot,
  .toWatchNotes,
  .reviewNotes,
  .actors {
    color: dimgrey;
    font-size: 18px;
  }
  .streamingSource {
    max-width: 100%;
    word-break: break-all;
    color: gray;
    font-weight: 600;
    font-size: 14px;
  }
  .genre {
    font-size: 15px;
  }
  .releaseYear,
  .runtime,
  .streamingSource,
  .genre,
  .imdbRating {
    margin: 0 auto 0 8px;
  }
}
.moreInfoButton {
  background: rgb(105, 166, 166) !important;
  height: 30px;
  width: 70px;
}
.userMediaActionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  height: 35px;
}
.actionButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;

 svg {
   height: 30px;
   width: 30px;
 }
}
.actionMenu ul {
  padding-top: 0;
  padding-bottom: 0;
}
.actionMenuItem {
  justify-content: flex-start !important;
  min-width: 100px;
  font-size: 1.05em !important;
  color: darkslategray;
}
.reviewActionMenuItem, .addNotesActionMenuItem {
  color: #1b2d2d !important;
}
.moveActionMenuItem, .copyActionMenuItem {
  color: darkcyan !important;
}
.removeActionMenuItem {
  color: firebrick !important;
}

@media only screen and (min-width: 680px) {
  .mediaInfo {
    width: 450px;
  }
  .poster,
  .posterContainer {
    height: $poster-height-desktop;
    width: $poster-width-desktop;
  }
}