.hidden {
  display: none;
}
.searchPage {
  position: relative;
  max-height: 100vh;
  min-height: 100vh;
  padding: 56px 0 140px;
  background-color: whitesmoke;
  overflow: auto;
}
.searchBarContainer {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
  background-color: whitesmoke;
  z-index: 1;
}
.searchFormControl, .searchFormControl * {
  margin: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.searchFormControl {
  background-color: white;
}
.searchButton {
  height: 56px;
  font-size: 16px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background: rgba(76, 117, 117, 0.95) !important;
  box-shadow: none !important;
}
.clearButton {
  color: indianred;
}

.resultsContainer {
  padding: 5px;
}

.resultCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
  margin: 10px auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.posterContainer {
  width: 120px;
  font-size:0;
  line-height:0;
}
.resultImage {
  width: 100%;
}
.movieInfoContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 50%;

  .mediaTitle {
    font-weight: bold;
  }
  .mediaTitle,
  .actors,
  .releaseDate,
  .mediaType {
    margin: 5px;
  }
  .mediaType {
    text-transform: uppercase;
    font-size: 12px;
  }
}
.searchActionContainer {
  width: 40px;
  padding: 5px;

  button {
    padding: 0 !important;
  }

  svg {
    width: 30px;
    height: 30px;
    color: dimgray;
  }
}

@media only screen and (min-width: 800px) {
  .searchPage {
    padding: 64px 0 140px;
  }
}