.bottomNavContainer {
  button {
    min-height: 60px;
  }

  button.selected {
    color: rgb(103, 173, 173) !important;
  }

  span {
    margin-top: 5px;
    font-size: 15px !important;
  }
  svg {
    width: 25px;
    height: 25px;
  }
}
