$poster-width: 130px;
$poster-height: 195px;
$poster-width-desktop: 180px;
$poster-height-desktop: 270px;

.hidden {
  display: none;
}
.accordionDetails {
  padding: 0 8px;
}
.emptyLists {
  width: 100%;
  text-align: center;
  color: grey;
  padding: 1px 15px;
}

.listsPage {
  padding-top: 60px !important;
  margin-bottom: 90px;
}

.listContainer {
  //border: 2px solid #f2f2f2;
  margin: 15px 10px;
  padding: 8px 3px;
}

.listContainer>div.Mui-expanded {
  min-height: 50px !important; // space above action menu button
}
.listInformationContainerParent>div {
  margin: 0 !important;
}

.listInformationContainer {
  width: 100%;
  padding: 0 10px;
  cursor: pointer;
}

.listNameHeader {
  margin: auto;
  font-weight: 700;
  color: darkslategrey;
}

.listDescription {
  color: rgb(144, 144, 144);
  margin: 0;
}

.listUserMediaContainer {
  display: flex;
  flex-wrap: nowrap;
  min-height: 230px;
  overflow-x: auto;
  overflow-y: hidden;
}
.actionButtonContainer {
  display: flex;
  margin: auto;
  width: 170px;
  justify-content: center;
  align-items: center;
}
.actionButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}
.actionMenu ul {
  padding-top: 0;
  padding-bottom: 0;
}
.actionMenuItem {
  justify-content: center !important;
  min-width: 170px;
  font-size: 1.2em !important;
  color: darkslategray;
}
.reviewActionMenuItem {
  color: darkgreen !important;
}
.moveActionMenuItem {
  color: darkcyan !important;
}
.copyActionMenuItem {
  color: darkblue !important;
}
.removeActionMenuItem {
  color: firebrick !important;
}

.userMediaCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  flex-wrap: nowrap;
  margin: 0 10px;
  position: relative;
  background: rgba(245, 245, 245, 0.6) !important;

  .mediaInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 150px;
    padding: 7px 5px 7px 10px;
  }
  .poster,
  .posterContainer {
    height: 220px;
    width: 133px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    text-align: center;
  }
  .mediaTitle {
    min-height: 40px;
    line-height: 1;
    overflow: auto;
    margin: 0 0 0 8px;
    font-size: 18px;
    font-weight: 600;
    color: darkslategray;
  }
  .releaseYear {
    font-style: normal;
    font-weight: 500;
  }
  .imdbRating {
    font-size: 16px;
    color: rgb(73, 99, 90);
  }
  .imdbRatingValue,
  .userRating {
    font-style: normal;
    font-size: 17px;
  }
  .imdbRatingValue {
    margin-left: 8px;
  }
  .imdbLink  {
    color: dodgerblue;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
  }
  .moreInfoButton {
    color: dodgerblue !important;
    border: #4e8383 1px solid !important;
  }
  .plot,
  .toWatchNotes,
  .reviewNotes,
  .actors {
    color: dimgrey;
    font-size: 18px;
  }
  .streamingSource {
    max-width: 100%;
    word-break: break-all;
    color: gray;
    font-weight: 600;
    font-size: 14px;
  }
  .genre {
    font-size: 15px;
  }
  .releaseYear,
  .runtime,
  .streamingSource,
  .genre,
  .imdbRating {
    margin: 0 auto 0 8px;
  }
}

@media only screen and (min-width: 680px) {
  .mediaInfo {
    width: 450px;
  }
  .poster,
  .posterContainer {
    height: $poster-height-desktop;
    width: $poster-width-desktop;
  }
}