body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke !important;
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
  -webkit-overflow-scrolling: touch;
}

.root {
  position: relative;
}

.App {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@supports(padding:max(0px)) {
  .raiseOnFullscreen {
    padding-bottom: calc(env(safe-area-inset-bottom) - 12px);
  }
}
