.mediaApp {
  :global(.listsPage) {
    padding-top: 60px !important;
    padding-bottom: 200px;
  }
  overflow: hidden;
}
.mediaAppFloatingButton {
  position: absolute !important;
  bottom: 180px;
  right: 20px;
  background-color: #85c6c6 !important;
  z-index: 100;

  svg {
    width: 30px;
    height: 30px;
  }
}
.mediaAppActionMenu>div:nth-child(3) {
  bottom: 175px !important;
  top: auto !important;
}

.bottomNavContainer {
  button {
    min-height: 60px;
  }
  span {
    margin-top: 5px;
    font-size: 15px !important;
  }
  svg {
    width: 25px;
    height: 25px;
  }
}

@media only screen and (min-width: 800px) {
  .mediaApp>:global(.listsPage),
  .mediaApp>:global(.searchPage) {
    margin: auto;
    padding-left: calc(50vw - 400px);
    padding-right: calc(50vw - 400px);
  }
}
