.mediaApp {
  :global(.listsPage) {
    padding-top: 60px !important;
    padding-bottom: 70px;
  }
  overflow: hidden;
}

@media only screen and (min-width: 800px) {
  .mediaApp>:global(.listsPage),
  .mediaApp>:global(.searchPage) {
    margin: auto;
    padding-left: calc(50vw - 400px);
    padding-right: calc(50vw - 400px);
  }
}
