.appHeaderContainer {
  overflow: hidden;
}
.homePageLink {
  text-decoration: none !important;
  color: inherit !important;
}
.appBar {
  background: darkslategray !important;
}
.logoutMenuItem {
  color: firebrick !important;
  font-weight: 500;
}