.listForm, .reviewForm, .addMediaNotesForm {
  background-color: white;
  padding: 5px 0;
}

.colorPickerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 90% !important;
  margin: 35px auto !important;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border: 1px solid lightslategray;
    border-radius: 22px;
  }
}

button.submitBtn {
  display: block;
  background: rgba(47, 79, 79, 0.95);
  transition: all 300ms linear;
  margin: 15px auto !important;
  font-size: 18px;
  max-width: calc(100% - 20px);

  &:hover {
    background: rgba(47, 79, 79, 0.8);
  }
}
.preferenceFormContainer {
  padding: 20px 10px;
  background-color: white;
}
.preferenceForm>* {
  margin: 10px 0 !important;
}
.userRating {
  display: flex !important;
  margin: 15px auto !important;
  width: fit-content !important;
  padding: 20px 0 5px;
  color: #76bbbb !important;
  font-size: 35px !important;
}

.saveAndCompleteContainer {
  display: flex;
  margin: 15px 0 !important;
  width: 100% !important;
  justify-content: space-evenly;
  align-items: center;

  button {
    width: 40%;
    height: 50px;
    margin: 0 !important;
  }
  .completeButton {
    background-color: darkolivegreen;
    font-size: 18px;
  }
}
