$poster-width: 120px;
$poster-height: 180px;

.userMediaCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  flex-wrap: nowrap;
  margin: 0 5px;
  padding-bottom: 3px;
  position: relative;
  background: rgba(245, 245, 245, 1) !important;
  border-radius: 3px !important;
  overflow: hidden;
  transition: transform 300ms linear !important;
  transform: scaleX(1);

  &.deleted {
    transform: scaleX(0);
  }

  .mediaInfo {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: space-evenly;
    padding: 7px 4px;
    background: inherit;

  }
  .releaseYearRuntimeContainer {
    display: flex;
    justify-content: flex-start;
    * {
      margin: 0 !important;
    }
  }
  .poster,
  .posterContainer {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .mediaTitle {
    line-height: 18px;
    min-height: 36px;
    max-height: 40px;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
    color: darkslategray;
    /* autoprefixer: off */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .releaseYear {
    font-style: normal;
    font-weight: 500;
  }
  .imdbRatingValue {
    margin-left: 8px;
  }
  .imdbLink  {
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02857em;
    color: #5e9c9c;
  }
  .plot,
  .toWatchNotes,
  .reviewNotes,
  .actors {
    color: dimgrey;
    font-size: 18px;
  }
  .streamingSource {
    max-width: 100%;
    word-break: break-all;
    color: gray;
    font-weight: 600;
    font-size: 14px;
  }
  .genre {
    font-size: 15px;
  }
  .releaseYear,
  .runtime,
  .streamingSource,
  .genre,
  .imdbRating {
    white-space: pre-wrap;
    margin: 0;
  }
  .runtime,
  .releaseYear{
    font-size: .8em;
  }
}
.moreInfoButton {
  background: rgb(105, 166, 166) !important;
  height: 30px;
  width: 50px;
}
.userMediaActionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 100%;
}
.actionButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;

 svg {
   height: 25px;
   width: 25px;
 }
}
.actionMenu ul {
  padding-top: 0;
  padding-bottom: 0;
}
.actionMenuItem {
  justify-content: flex-start !important;
  min-width: 100px;
  font-size: 1.05em !important;
  color: darkslategray;
}
.reviewActionMenuItem, .addNotesActionMenuItem {
  color: #1b2d2d !important;
}
.moveActionMenuItem, .copyActionMenuItem {
  color: darkcyan !important;
}
.removeActionMenuItem {
  color: firebrick !important;
}
