.hidden {
  display: none;
}
.accordionDetails {
  padding: 5px 5px 0 !important;
}

.listContainerBtn {
  background-color: white !important;
  width: 95vw;
  min-height: 55px;
  margin: 5px auto !important;
}

.emptyLists {
  width: 100%;
  text-align: center;
  color: grey;
  padding: 1px 15px 150px;
}

.emptyList {
  padding: 0 40px;
}

.listsPage {
  max-height: 100vh;
  min-height: 100vh;
  overflow: auto;
  background-color: whitesmoke;
  text-align: center;
}

.listContainerParent {
  position: relative;
  transition: transform 300ms linear !important;
  overflow: hidden;
  transform: scaleY(1);
}

.listContainerParent.deleted {
  transform: scaleY(0);
}

.listContainer {
  //border: 2px solid #f2f2f2;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding: 5px 3px 5px;
}

//.listContainer>div.Mui-expanded {
//
//  min-height: 50px !important; // space above action menu button
//}

.completedList {
  background-color: ghostwhite !important;

  .listInformationContainer .listNameHeader {
    color: #929292;
  }
  .listInformationContainer {
    margin-left: 0;
  }
}

.listActionContainer {
  position: absolute;
  left: 20px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  z-index: 3;
}

.listActionBtn {
  height: 40px;
  padding: 0 !important;
  color: #8fa1b2 !important;

  svg {
    height: 30px;
    width: 30px;
  }
}

.listInformationContainerParent>div {
  margin: 0 !important;
}

.listInformationContainer {
  width: 100%;
  margin-left: 25px;
  padding: 5px;
  cursor: pointer;
}

.listNameHeader {
  margin: auto;
  font-weight: 700;
  color: darkslategrey;
  text-align: left;
}

.listDescription {
  color: rgb(144, 144, 144);
  margin: 0;
  text-align: left;
}

.listUserMediaContainer {
  padding: 0 5px;
  gap: 5px 0;
  height: fit-content;
  padding-top: 8px !important;
}


