.mediaAppFloatingButton {
    position: absolute !important;
    bottom: 100px;
    right: 20px;
    background-color: rgba(133, 198, 198, 0.5) !important;
    z-index: 100;

    svg {
        width: 30px;
        height: 30px;
    }
}

.mediaAppActionMenu>div:nth-child(3) {
    bottom: 175px !important;
    top: auto !important;

    svg {
        width: 20px;
        height: 20px;
    }
}