.mediaInfoCard {
  position: relative;
  max-height: 70vh;
}
.tabSwitcherContainer {
  position: sticky !important;
  background-color: #dde3eb !important;


  [class*=indicator] {
    background-color: #5e9c9c !important;
  }
  .tab {
    font-size: 16px !important;
    color: #3c3c3c;
  }
  .tab[class*=selected] {
    color: #5e9c9c !important;
  }
}

.moreInfoContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.59);
  padding: 0 10px 20px;
  border-radius: 10px 10px 20px;
  font-size: 1.05em;

  .mediaTitle {
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  .releaseDate,
  .mediaTitle,
  .runtime,
  .genre,
  .languages,
  .imdbRating {
    margin: 0;
    white-space: pre-wrap;
  }
  .totalSeasons {
    display: inline-block;
  }
  .imdbLink  {
    text-decoration: underline;
    font-weight: 500;
    line-height: 1.75;
    font-size: 1.2em;
    letter-spacing: 0.02857em;
    color: #5e9c9c;
  }
  .mediaInfoLabel {
    font-style: italic;
    text-decoration: lightgray underline;
    color: lightslategray;
  }
  .actors,
  .plot,
  .genre,
  .languages,
  .runtime,
  .releaseDate,
  .imdbRating,
  .toWatchNotes,
  .reviewNotes {
    margin: 5px;
  }

  .userRatingContainer {
    display: flex;
    align-items: center;
    margin: 5px;
  }
  .userRatingValue {
    margin-left: 10px;
  }
  .imdbRatingAsOfDate {
    font-size: 0.8em;
    font-style: italic;
    color: gray;
  }
}

@media only screen and (min-width: 680px) {
  .moreInfoContainer {
    width: 70vw;
    margin: auto;
  }
}